
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.top {
    display:  flex;
    flex-direction: column;
    background: rgb(73, 65, 94);
    color: whitesmoke;
    justify-self: center;
    padding: 20px 265px 70px 265px
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   margin-bottom: 60px;
    
}

#logo {
    font-size: 24px;
    font-weight: 600;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    padding: 0;
    margin: 0;
    margin-right: 0px;
}
.intro
{
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    gap: 30px;
    align-items: center;
}
.left {
    width: 450px;
}
.right img {
    border-radius: 80px;
    width: 400px;
}
h1 {
    margin-bottom: 0;
}
.left p {
    margin-top: 3px;
}
button {
  border-radius: 80px;
  background-color: #4CAF50;
  border-style: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  font-size: 16px;
  margin: 0%;
}

/*    SPACE      */

.mid {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.midhead {
    display: flex;
    margin: 50px;
}
.midhead h1 {
    margin: 0;
}
.typeimg {
    display: flex;
    gap: 15px;
    text-align: center;
    margin-bottom: 110px;
}
.typeimg img {
    width: 250px;
    border-radius: 20px;
    border-style: solid;
    border-color:rgb(73, 65, 94);
    border-width: 3px;
}
.caption {
    font-size: 15px;
    width: 250px;
    margin-top: 12px;
}

/*     SPACE */

.quote {
  display: flex;
  height: 350px;
  flex-direction: column;
  justify-content: center;
  background-color: #e5e7eb;
  padding-left: 350px;
  padding-right: 350px;
}

.poem {
 font-size: 25px;
 font-style: italic;

}
.cite {
    text-align: end;
    font-size: 18px;
    font-weight: bold;
}

/*      SPACE      */

.donation {
    display: flex;
    align-items: center;
    margin: 110px 300px 110px 300px;

}
.wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    padding: 30px;
    border-radius: 20px;
    background: rgb(186, 175, 204);
    color: white;
}
.involve {
    font-size: 12;
    padding: 0;
}
.involve h2 {
    margin: 0;
}

/*      SPACE     */
.footer {
    background-color: rgb(73, 65, 94);
    color: whitesmoke;
    text-align: center;
    font-size: 14px;
}
a {
    text-decoration: none;
    color: rgb(255, 250, 245);
}
